.s-body {
	background-color: rgb(233, 233, 233);
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 50em
}

.s-hr {
	margin-bottom: 1em;
}

.s-h1 {
	color: rgb(93, 93, 93);
	font-size: 3em;
	margin: 0 0.156em
}

.s-h1 .bottomBorder, .s-hr {
	background-color: rgb(210, 210, 210);
	border: none;
	height: 0.625em;
	margin: 0
}

.s-h2 {
	font-size: 1.500em;
	margin-left: 0.417em
}

.s-h3 {
	font-size: 1.125em;
	margin: 0.556em
}

.s-ol, .s-ul {
	list-style-position: outside;
	margin: 0.625em 1.750em;
	padding: 0
}

.s-ol-item {
	margin-bottom: 0.625em
}

.s-menu {
	list-style: none;
	margin: 0 1em;
	text-align: right;
}

.s-menu__item {
	margin-bottom: 0.313em
}

.s-menu__link {
	display: block;
}

.s-menu__item.mousedown {
	background-color: blue;
	color: aliceblue;
}
